.site {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    letter-spacing: 2px;
    background-image: url('https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000');
    background-size: cover;
}

h1 {
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.781);
    text-shadow: 1px 1px 20px blue;
}

p {
    width: 500px;
    margin: 15px 0px 15px 0px;
    text-align: justify;
}

.site img {
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
}